## EDA for CBSE Class XII score in 2023

## Loading Dependencies

In [1]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings('ignore')

## Loading dataset

In [2]:
data=pd.read_csv('./class12-2023 (1).csv')
data

,Class,Year,Region,Status,CTSA,GOVT,GOVT AIDED,INDEPENDENT,JNV,KV
0,12,2023,Ajmer,Regd,0,4533,0,86178,3741,7736
1,12,2023,Ajmer,Appd,0,4524,0,85839,3730,7725
2,12,2023,Bhubaneswar,Regd,103,7746,0,69835,3823,11465
3,12,2023,Bhubaneswar,Appd,101,7688,0,69506,3809,11431
4,12,2023,Chandigarh,Regd,0,13060,55,89637,2549,5861
5,12,2023,Chandigarh,Appd,0,13025,55,89317,2537,5844
6,12,2023,Delhi East,Regd,0,100216,6420,64953,81,6669
7,12,2023,Delhi East,Appd,0,99566,6393,64774,81,6661
8,12,2023,Pune,Regd,0,1535,0,22801,1673,4859
9,12,2023,Pune,Appd,0,1534,0,22742,1662,4849
10,12,2023,Guwahati,Regd,0,20672,102,20768,4536,6071
11,12,2023,Guwahati,Appd,0,20518,101,20601,4481,6047
12,12,2023,Panchkula,Regd,38,357,0,118675,2231,3615
13,12,2023,Panchkula,Appd,38,357,0,118046,2225,3607
14,12,2023,Bengaluru,Regd,93,70,0,12262,1901,2363
15,12,2023,Bengaluru,Appd,92,70,0,12214,1894,2361
16,12,2023,Bhopal,Regd,0,3180,0,60352,3640,7807
17,12,2023,Bhopal,Appd,0,3138,0,60136,3629,7794
18,12,2023,Chennai,Regd,0,3565,0,67799,1646,6713
19,12,2023,Chennai,Appd,0,3552,0,67700,1642,6701
20,12,2023,Noida,Regd,0,278,921,100688,1069,4480
21,12,2023,Noida,Appd,0,272,920,99746,1060,4471
22,12,2023,Patna,Regd,0,84,0,84716,3714,5409
23,12,2023,Patna,Appd,0,83,0,83962,3669,5398
24,12,2023,Prayagraj,Regd,0,1336,0,131729,3184,8680
25,12,2023,Prayagraj,Appd,0,1272,0,130263,3152,8666
26,12,2023,Trivandrum,Regd,0,82,0,33500,973,3666
27,12,2023,Trivandrum,Appd,0,82,0,33462,972,3661
28,12,2023,Dehradun,Regd,164,1555,22,62473,1120,4312
29,12,2023,Dehradun,Appd,162,1552,22,62094,1117,4307
30,12,2023,Delhi West,Regd,0,69504,7775,40461,65,2872
31,12,2023,Delhi West,Appd,0,69109,7743,40291,65,2872

In [3]:
data.head()

,Class,Year,Region,Status,CTSA,GOVT,GOVT AIDED,INDEPENDENT,JNV,KV
0,12,2023,Ajmer,Regd,0,4533,0,86178,3741,7736
1,12,2023,Ajmer,Appd,0,4524,0,85839,3730,7725
2,12,2023,Bhubaneswar,Regd,103,7746,0,69835,3823,11465
3,12,2023,Bhubaneswar,Appd,101,7688,0,69506,3809,11431
4,12,2023,Chandigarh,Regd,0,13060,55,89637,2549,5861

In [4]:
data.tail()

,Class,Year,Region,Status,CTSA,GOVT,GOVT AIDED,INDEPENDENT,JNV,KV
27,12,2023,Trivandrum,Appd,0,82,0,33462,972,3661
28,12,2023,Dehradun,Regd,164,1555,22,62473,1120,4312
29,12,2023,Dehradun,Appd,162,1552,22,62094,1117,4307
30,12,2023,Delhi West,Regd,0,69504,7775,40461,65,2872
31,12,2023,Delhi West,Appd,0,69109,7743,40291,65,2872

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Class        32 non-null     int64
 1   Year         32 non-null     int64
 2   Region       32 non-null     object
 3   Status       32 non-null     object
 4   CTSA         32 non-null     int64
 5   GOVT         32 non-null     int64
 6   GOVT AIDED   32 non-null     int64
 7   INDEPENDENT  32 non-null     int64
 8   JNV          32 non-null     int64
 9   KV           32 non-null     int64
dtypes: int64(8), object(2)
memory usage: 2.6+ KB

In [6]:
data.columns

Index(['Class', 'Year', 'Region ', 'Status', 'CTSA', 'GOVT', 'GOVT AIDED',
       'INDEPENDENT', 'JNV', 'KV'],
      dtype='object')

In [7]:
data.size

320

In [8]:
data.shape

(32, 10)

## Data cleaning

In [9]:
data.drop(columns=['Class', 'Year'],inplace=True)

In [10]:
data

        Region  Status  CTSA    GOVT  GOVT AIDED  INDEPENDENT   JNV     KV
0         Ajmer   Regd     0    4533           0        86178  3741   7736
1         Ajmer   Appd     0    4524           0        85839  3730   7725
2   Bhubaneswar   Regd   103    7746           0        69835  3823  11465
3   Bhubaneswar   Appd   101    7688           0        69506  3809  11431
4    Chandigarh   Regd     0   13060          55        89637  2549   5861
5    Chandigarh   Appd     0   13025          55        89317  2537   5844
6    Delhi East   Regd     0  100216        6420        64953    81   6669
7    Delhi East   Appd     0   99566        6393        64774    81   6661
8          Pune   Regd     0    1535           0        22801  1673   4859
9          Pune   Appd     0    1534           0        22742  1662   4849
10     Guwahati   Regd     0   20672         102        20768  4536   6071
11     Guwahati   Appd     0   20518         101        20601  4481   6047
12    Panchkula   Regd    38     357           0       118675  2231   3615
13    Panchkula   Appd    38     357           0       118046  2225   3607
14    Bengaluru   Regd    93      70           0        12262  1901   2363
15    Bengaluru   Appd    92      70           0        12214  1894   2361
16       Bhopal   Regd     0    3180           0        60352  3640   7807
17       Bhopal   Appd     0    3138           0        60136  3629   7794
18      Chennai   Regd     0    3565           0        67799  1646   6713
19      Chennai   Appd     0    3552           0        67700  1642   6701
20        Noida   Regd     0     278         921       100688  1069   4480
21        Noida   Appd     0     272         920        99746  1060   4471
22        Patna   Regd     0      84           0        84716  3714   5409
23        Patna   Appd     0      83           0        83962  3669   5398
24    Prayagraj   Regd     0    1336           0       131729  3184   8680
25    Prayagraj   Appd     0    1272           0       130263  3152   8666
26   Trivandrum   Regd     0      82           0        33500   973   3666
27   Trivandrum   Appd     0      82           0        33462   972   3661
28     Dehradun   Regd   164    1555          22        62473  1120   4312
29     Dehradun   Appd   162    1552          22        62094  1117   4307
30   Delhi West   Regd     0   69504        7775        40461    65   2872
31   Delhi West   Appd     0   69109        7743        40291    65   2872

In [11]:
data.isnull().mean()*100

Region         0.0
Status         0.0
CTSA           0.0
GOVT           0.0
GOVT AIDED     0.0
INDEPENDENT    0.0
JNV            0.0
KV             0.0
dtype: float64

In [12]:
data.duplicated().sum()

0

In [13]:
data.rename(columns={'Region ':'Region'},inplace=True)
# rename the column

In [14]:
####

In [15]:
data.Region.unique()

array(['Ajmer', 'Bhubaneswar', 'Chandigarh', 'Delhi East', 'Pune',
       'Guwahati', 'Panchkula', 'Bengaluru', 'Bhopal', 'Chennai', 'Noida',
       'Patna', 'Prayagraj', 'Trivandrum', 'Dehradun', 'Delhi West'],
      dtype=object)

In [16]:
data.Region.nunique()

16

In [17]:
data_R=data[data["Status"]=="Regd"]

In [18]:
data_A=data[data["Status"]=="Appd"]

In [19]:
data_A

         Region Status  CTSA   GOVT  GOVT AIDED  INDEPENDENT   JNV     KV
1         Ajmer   Appd     0   4524           0        85839  3730   7725
3   Bhubaneswar   Appd   101   7688           0        69506  3809  11431
5    Chandigarh   Appd     0  13025          55        89317  2537   5844
7    Delhi East   Appd     0  99566        6393        64774    81   6661
9          Pune   Appd     0   1534           0        22742  1662   4849
11     Guwahati   Appd     0  20518         101        20601  4481   6047
13    Panchkula   Appd    38    357           0       118046  2225   3607
15    Bengaluru   Appd    92     70           0        12214  1894   2361
17       Bhopal   Appd     0   3138           0        60136  3629   7794
19      Chennai   Appd     0   3552           0        67700  1642   6701
21        Noida   Appd     0    272         920        99746  1060   4471
23        Patna   Appd     0     83           0        83962  3669   5398
25    Prayagraj   Appd     0   1272           0       130263  3152   8666
27   Trivandrum   Appd     0     82           0        33462   972   3661
29     Dehradun   Appd   162   1552          22        62094  1117   4307
31   Delhi West   Appd     0  69109        7743        40291    65   2872

In [20]:
data_R

         Region Status  CTSA    GOVT  GOVT AIDED  INDEPENDENT   JNV     KV
0         Ajmer   Regd     0    4533           0        86178  3741   7736
2   Bhubaneswar   Regd   103    7746           0        69835  3823  11465
4    Chandigarh   Regd     0   13060          55        89637  2549   5861
6    Delhi East   Regd     0  100216        6420        64953    81   6669
8          Pune   Regd     0    1535           0        22801  1673   4859
10     Guwahati   Regd     0   20672         102        20768  4536   6071
12    Panchkula   Regd    38     357           0       118675  2231   3615
14    Bengaluru   Regd    93      70           0        12262  1901   2363
16       Bhopal   Regd     0    3180           0        60352  3640   7807
18      Chennai   Regd     0    3565           0        67799  1646   6713
20        Noida   Regd     0     278         921       100688  1069   4480
22        Patna   Regd     0      84           0        84716  3714   5409
24    Prayagraj   Regd     0    1336           0       131729  3184   8680
26   Trivandrum   Regd     0      82           0        33500   973   3666
28     Dehradun   Regd   164    1555          22        62473  1120   4312
30   Delhi West   Regd     0   69504        7775        40461    65   2872

In [21]:
data.Region.unique()

array(['Ajmer', 'Bhubaneswar', 'Chandigarh', 'Delhi East', 'Pune',
       'Guwahati', 'Panchkula', 'Bengaluru', 'Bhopal', 'Chennai', 'Noida',
       'Patna', 'Prayagraj', 'Trivandrum', 'Dehradun', 'Delhi West'],
      dtype=object)

In [22]:
data_R["CTSA"]

0       0
2     103
4       0
6       0
8       0
10      0
12     38
14     93
16      0
18      0
20      0
22      0
24      0
26      0
28    164
30      0
Name: CTSA, dtype: int64

In [23]:
data_A.GOVT.mean()

14146.375

In [24]:
data_A.GOVT.sum()

226342

In [25]:
data_A[data_A.CTSA==data_A.CTSA.max()]

      Region Status  CTSA  GOVT  GOVT AIDED  INDEPENDENT   JNV    KV
29  Dehradun   Appd   162  1552          22        62094  1117  4307

In [26]:
data.Status.nunique()
data.Status.unique()

array(['Regd', 'Appd'], dtype=object)

In [27]:
data.describe()

,CTSA,GOVT,GOVT AIDED,INDEPENDENT,JNV,KV
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,24.718750,14191.093750,954.031250,66485.000000,2239.718750,5780.406250
std,48.989291,28127.835341,2376.553258,34090.505329,1375.149311,2332.043488
min,0.000000,70.000000,0.000000,12214.000000,65.000000,2361.000000
25%,0.000000,337.250000,0.000000,38593.250000,1105.000000,4146.750000
50%,0.000000,2346.500000,0.000000,66326.500000,2063.000000,5626.500000
75%,9.500000,9065.750000,66.500000,86962.750000,3647.250000,6966.000000
max,164.000000,100216.000000,7775.000000,131729.000000,4536.000000,11465.000000

In [28]:
data

         Region Status  CTSA    GOVT  GOVT AIDED  INDEPENDENT   JNV     KV
0         Ajmer   Regd     0    4533           0        86178  3741   7736
1         Ajmer   Appd     0    4524           0        85839  3730   7725
2   Bhubaneswar   Regd   103    7746           0        69835  3823  11465
3   Bhubaneswar   Appd   101    7688           0        69506  3809  11431
4    Chandigarh   Regd     0   13060          55        89637  2549   5861
5    Chandigarh   Appd     0   13025          55        89317  2537   5844
6    Delhi East   Regd     0  100216        6420        64953    81   6669
7    Delhi East   Appd     0   99566        6393        64774    81   6661
8          Pune   Regd     0    1535           0        22801  1673   4859
9          Pune   Appd     0    1534           0        22742  1662   4849
10     Guwahati   Regd     0   20672         102        20768  4536   6071
11     Guwahati   Appd     0   20518         101        20601  4481   6047
12    Panchkula   Regd    38     357           0       118675  2231   3615
13    Panchkula   Appd    38     357           0       118046  2225   3607
14    Bengaluru   Regd    93      70           0        12262  1901   2363
15    Bengaluru   Appd    92      70           0        12214  1894   2361
16       Bhopal   Regd     0    3180           0        60352  3640   7807
17       Bhopal   Appd     0    3138           0        60136  3629   7794
18      Chennai   Regd     0    3565           0        67799  1646   6713
19      Chennai   Appd     0    3552           0        67700  1642   6701
20        Noida   Regd     0     278         921       100688  1069   4480
21        Noida   Appd     0     272         920        99746  1060   4471
22        Patna   Regd     0      84           0        84716  3714   5409
23        Patna   Appd     0      83           0        83962  3669   5398
24    Prayagraj   Regd     0    1336           0       131729  3184   8680
25    Prayagraj   Appd     0    1272           0       130263  3152   8666
26   Trivandrum   Regd     0      82           0        33500   973   3666
27   Trivandrum   Appd     0      82           0        33462   972   3661
28     Dehradun   Regd   164    1555          22        62473  1120   4312
29     Dehradun   Appd   162    1552          22        62094  1117   4307
30   Delhi West   Regd     0   69504        7775        40461    65   2872
31   Delhi West   Appd     0   69109        7743        40291    65   2872

In [29]:
data.

SyntaxError: invalid syntax (1519389772.py, line 1)

## UNIVARIATE ANALYSIS

In [ ]:
# data.sort_values(by='Age')
plt.figure(figsize=(15,6))
plt.title('GOVT School')
plt.xlabel('x axis')
plt.ylabel('y axis') 
plt.xticks(rotation = 70) 
sns.histplot(data=data, x='GOVT', bins=50) 
plt.show()

In [ ]:
sns.boxplot(data=data, x='GOVT')
plt.show()

In [ ]:
sns.boxplot(data=data, y='GOVT')
plt.show()

In [ ]:
sns.kdeplot(data=data.GOVT)
plt.show()

In [ ]:
KV

In [ ]:
sns.kdeplot(data=data.KV)
plt.show()

## Sub plots

In [ ]:
sns.boxplot(data=data, x='GOVT', y= 'Status')
plt.show()

In [ ]:
sns.histplot(data=data)
plt.show()

In [ ]:
plt.figure(figsize=(20,10))
plt.xticks(rotation = 90) 
sns.boxplot(data=data) 
plt.show()

## KDE Plot

In [ ]:
sns.kdeplot(data=data)
plt.show()

## MULTIVARIATE ANALYSIS

## pie chart

In [ ]:
data.Status.value_counts().index

In [ ]:
palette_color = sns.color_palette('ocean')

In [ ]:
 plt.pie(data=data,\
 x=data.Status.value_counts(),\
 explode = [0.1, 0], \
 colors=palette_color,\
 labels=['Regd', 'Appd'],\
 autopct='%0.2f%%');

### violin plot

In [ ]:
sns.violinplot(data=data, y='GOVT')
plt.show()

In [ ]:
sns.violinplot(data=data, y='KV')
plt.show()

In [ ]:
data_A.rename(columns={'CTSA':'CTSA_ap',
                      'GOVT':'GOVT_ap',
                      'GOVT AIDED': 'GOVT_AIDED_ap',
                      'INDEPENDENT':'INDEPENDENT_ap',
                      'JNV':'JNV_ap', 
                      'KV':'KV_ap'}, inplace=True)

In [ ]:
data_A.reset_index(drop=True)
data_R.reset_index(drop=True)

In [ ]:
data_merged = data_R.merge(data_A, on='Region')

In [ ]:
data_merged.drop(columns=['Status_x', 'Status_y', 'reg_ctsa'], inplace=True)

In [ ]:
data_merged.rename(columns={'GOVT AIDED':'GOVT_AIDED'},inplace=True)

In [ ]:
data_merged['GOVT_%'] = (data_merged.GOVT_ap *100 )/ data_merged.GOVT

In [ ]:
data_merged

In [ ]:
data_merged['GOVT_AID_%'] = (data_merged.GOVT_AIDED_ap *100 )/ data_merged.GOVT_AIDED

In [ ]:
data_merged['INDEP_%'] = (data_merged.INDEPENDENT_ap *100 )/ data_merged.INDEPENDENT

In [ ]:
data_merged['CTSA_%'] = (data_merged.CTSA_ap *100 )/ data_merged.CTSA

In [ ]:
data_merged['JNV_%'] = (data_merged.JNV_ap *100 )/ data_merged.JNV

In [ ]:
data_merged['KV_%'] = (data_merged.KV_ap *100 )/ data_merged.KV

In [ ]:
data_merged

In [ ]:
data_merged.rename(columns={'GOVT_%':'GOVT_perc',
                      'GOVT_AID_%':'GOVT_AID_perc',
                      'CTSA_%': 'CTSA_perc',
                      'INDEP_%':'INDEPENDENT_perc',
                      'JNV_%':'JNV_perc', 
                      'KV_%':'KV_perc'}, inplace=True)

In [ ]:
data_merged.head()

## In which region got 100% result in GOVT schools

In [ ]:
data_merged_Gov1.nlargest(5,'GOVT_perc')

## Highest result in GOVT schools

In [ ]:
data_merged_Gov1=data_merged.query("GOVT_perc==100.00")
data_merged_Gov1

## 100% result schools

## In which school more students registered for exam

## In which region more students passed in exam

## In which region more students passed in exam

In [ ]:
In which region less students passed in exam

## In which region less kv students registered for exam

In [ ]:
data_merged_less_R_kv=data_merged.groupby(['Region'])['KV'].min().reset_index()
data_merged_less_R_kv.nsmallest(2,'KV')

## In which gov school less students passed in exam

In [ ]:
data_merged_less_R=data_merged.groupby(['Region'])['GOVT_perc'].min().reset_index()
data_merged_less_R.nsmallest(2,'GOVT_perc')

In [ ]:
data_merged_less_R.GOVT.nsmallest(5)

## In which gov school less students registered in exam

In [ ]:
data_merged_less_R=data_merged.groupby(['Region'])['GOVT'].min().reset_index()
data_merged_less_R.sort_values(by='GOVT')

## GOVT school highest result

In [ ]:
data_merged_Gov=data_merged.groupby(['Region'])['GOVT_perc'].max().reset_index()
data_merged_Gov.query(" GOVT_perc==100 ")

In [ ]:
data_merged_Gov.sort_values(by='GOVT_perc',ascending=False)

## GOVT AIDED Schools 100% result

In [ ]:
data_merged_Gov2=data_merged.groupby(['Region'])['GOVT_AID_perc'].max().reset_index()
data_merged_Gov2.query("GOVT_AID_perc==100.00")

## Independent schools 100% result

In [ ]:
data_merged_INDEP=data_merged.query("INDEPENDENT_perc==100.00")
data_merged_INDEP

## CTSA schools 100% result

In [ ]:
data_merged_CTSA=data_merged.query("CTSA_perc==100.00")
data_merged_CTSA

## JNV schools 100% result

In [ ]:
data_merged_JNV=data_merged.groupby(['Region'])['JNV_perc'].max().reset_index()
data_merged_JNV.query("JNV_perc==100")

## KV schools 100% result

In [ ]:
data_merged_KV=data_merged.query("KV_perc==100.00")
data_merged_KV

In [ ]:
data_merged_all=data_merged.groupby(['Region'])['JNV_perc'].max().reset_index()
# data_merged_all.query(" GOVT_perc == 100.00  or  KV_perc==100.00 or JNV_perc==100.00 or GOVT_AID_perc==100 or CTSA_perc==100")

In [ ]:
plt.figure(figsize=(10,6))
plt.xlabel('students list')
plt.ylabel('register')
plt.title('KV & JNV School')
sns.lineplot(data=data_merged, x='KV', y='JNV')
sns.lineplot(data=data_merged, x='JNV', y='KV')
plt.show()

## Plot the result of GOVT_AIDED Schools

In [ ]:
plt.figure(figsize=(15,6))
plt.title('GOVT_Aided School')
plt.xlabel('x axis')
plt.ylabel('y axis') 
plt.xticks(rotation = 70) 
sns.histplot(data=data_merged, x='GOVT_AID_perc', bins=50) 
plt.show()

In [ ]:
sns.pairplot(data=data)
plt.show()

In [ ]:

sns.heatmap(data_merged.corr())
plt.show()

In [ ]:

plt.figure(figsize=(12,4))
plt.xticks(rotation = 90)
sns.barplot(data=data_merged, x='GOVT_perc', y='KV_perc')
plt.show()
sns.scatterplot(data=data_merged, x='KV_perc', y='JNV_perc')
plt.show()

In [ ]:

# Scatter plot

plt.figure(figsize=(12,4))
plt.xticks(rotation = 90)
sns.barplot(data=data_merged, x='KV_perc', y='GOVT_perc')
plt.show()

In [ ]:
plt.figure(figsize=(6,12))
plt.xticks(rotation = 90)
sns.barplot(data=data_merged, x='KV_perc', y='Region')
plt.show()

## Area chart

In [ ]:
plt.figure(figsize=(18,5))
plt.xticks(rotation = 90)
plt.stackplot(data_merged.Region, data_merged.GOVT_ap)
plt.show()

In [ ]:
plt.figure(figsize=(18,5))
plt.xticks(rotation = 90)
plt.stackplot(data_merged.Region, data_merged.GOVT_ap, data_merged.KV_perc, data_merged.JNV_perc)
plt.show()

In [ ]:
plt.figure(figsize=(12,4))
plt.xticks(rotation = 90)
sns.barplot(data=data_merged, x='GOVT_perc', y='KV_perc')
plt.show()
sns.scatterplot(data=data_merged, x='INDEPENDENT_perc', y='JNV_perc')
plt.show()


# sns.scatterplot(data=data_merged, x='Region', y='JNV_perc')
# plt.show()

## line chart

In [ ]:
plt.figure(figsize=(10,6))
plt.xlabel('result')
plt.ylabel('register')
plt.title('GOVT School')
sns.lineplot(data=data_merged,x='GOVT_perc', y='GOVT')
plt.show()

In [ ]:
sns.heatmap(data_merged.corr()[["KV"]].sort_values(by="KV"))
plt.plot();

In [ ]:
plt.figure(figsize=(18,5))
plt.xticks(rotation = 90)
plt.stackplot(data_merged.KV, data_merged.CTSA_perc)
plt.show()

In [ ]:

plt.figure(figsize=(12,4))
plt.xticks(rotation = 90)
sns.barplot(data=data_merged, x='KV', y='CTSA_perc')
plt.show()
sns.scatterplot(data=data_merged, x='KV', y='CTSA_perc')
plt.show()

In [ ]:

plt.figure(figsize=(12,4))
plt.xticks(rotation = 90)
sns.barplot(data=data_merged, x='GOVT_perc', y='CTSA_perc')
plt.show()
sns.scatterplot(data=data_merged, x='GOVT_perc', y='CTSA_perc')
plt.show()

In [ ]:
# need to check

sns.barplot(data=dat, x='INDEPENDENT', y='Region ', orient='h')
sns.barplot(data=dat, x='JNV', y='Region ', orient='h')
sns.barplot(data=data,x='GOVT', y='Region ', orient='h')